/* Colours-variables: */
:root {
  --Eggshell: hsl(30, 54%, 90%); /*Main background color*/
  --White: hsl(0, 0%, 100%); /*Main container color*/
  --DarkCharcoal: hsl(24, 5%, 18%); /*h1*/
  --Nutmeg: hsl(14, 45%, 36%); /*h2 and partially table data*/
  --DarkRaspberry: hsl(332, 51%, 32%); /*h3 in preparation*/
  --RoseWhite: hsl(330, 100%, 98%); /*background color in preparation*/
  --LightGrey: hsl(30, 18%, 87%); /*hr*/
  --WengeBrown: hsl(30, 10%, 34%); /*text*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts
font-family: "Outfit", sans-serif; - main font
font-family: "Young Serif", serif; - h1, h2
*/

/* Layout */

body {
  background-color: var(--Eggshell);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Outfit", sans-serif;
  color: var(--WengeBrown);
  line-height: 1.5;
  font-size: 16px;
}

/* Footer */
footer {
  margin: 1rem;
}

/* Mobile */
@media (max-width: 767px) {
  #container {
    padding-bottom: 5%;
    width: 100%;
    background-color: var(--White);
  }
  .container-text-mobile {
    padding: 0 5%;
  }
  img {
    width: 100%;
  }
}
/* Tablet and desktop */
@media (min-width: 768px) {
  #container {
    width: 45%;
    background-color: var(--White);
    margin: 5% 0;
    padding: 3%;
    border-radius: 20px;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }
}

/* Sections */
h1,
h2 {
  font-family: "Young Serif", serif;
  margin: 1.5rem 0;
  font-weight: 400;
}

h1 {
  color: var(--DarkCharcoal);
}

h2,
li::marker {
  color: var(--Nutmeg);
}

ul,
ol {
  margin-left: 1.5rem;
}

li {
  padding-left: 1rem;
}

span {
  font-weight: 600;
}

hr {
  margin-top: 2rem;
}

td {
  color: var(--Nutmeg);
  font-weight: 600;
}

/* Section - preparation */

#preparation {
  background-color: var(--RoseWhite);
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px;
}

#preparation h3 {
  color: var(--DarkRaspberry);
  margin-bottom: 1rem;
}

#preparation li::marker {
  color: var(--DarkRaspberry);
}

/* Nutrition */

#nutrition p {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  text-align: left;
}

th,
td {
  padding: 0.5rem 0 0.5rem 2rem;
  border-bottom: 1px solid var(--LightGrey);
}

th {
  font-weight: normal;
}

tr:last-of-type td,
tr:last-of-type th {
  border-bottom: none;
}
