/* Colours-variables: */
:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --DarkRaspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap);

/* - Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */

/*   font-family: "Outfit", sans-serif;
  font-family: "Young Serif", serif;

*/

/* Layout */

body {
  background-color: var(--Eggshell);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* Mobile */
@media (max-width: 767px) {
  #container {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
/* Tablet and desktop */
@media (min-width: 768px) {
  #container {
    width: 50%;
    background-color: var(--White);
    margin: 5% 0;
    padding: 2%;
    border-radius: 20px;
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 16px;
}
