*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Root: colours and fonts */
:root {
  --Cream: hsl(30, 38%, 92%); /*main bg*/
  --White: hsl(0, 0%, 100%); /*card bg*/
  --VeryDarkBlue: hsl(212, 21%, 14%); /*h1*/
  --DarkGrayishBlue: hsl(228, 12%, 48%); /*type, description*/
  --DarkCyan: hsl(158, 36%, 37%); /*reg price, cta*/
  --Montserrat: "Montserrat", sans-serif;
  --Fraunces: "Fraunces", serif;
}

/* Fonts
- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700 - main font

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 - h1, regular price
*/

body {
  margin: 0;
  background-color: var(--Cream);
  font-family: var(--Montserrat);
}

.card {
  background-color: var(--White);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.card__product {
  padding: 1.2rem 2rem;
}

.product__type {
  color: var(--DarkGrayishBlue);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 1.5em 0 0 0;
}

.product__name {
  color: var(--VeryDarkBlue);
  font-family: var(--Fraunces);
  font-weight: 700;
  margin: 0.8em 0 0.8rem 0;
  line-height: 2.3rem;
  font-size: 2rem;
}

.product__description {
  color: var(--DarkGrayishBlue);
  font-size: 0.9rem; /*0.9rem = 14px*/
  line-height: 1.5rem;
  font-weight: 500;
}

.product__price {
  margin: 1rem 0;
}

.price__regular {
  color: var(--DarkCyan);
  font-family: var(--Fraunces);
  font-weight: 700;
  font-size: 2rem;
  padding-right: 1rem;
}

.price__discounted {
  color: var(--DarkGrayishBlue);
  text-decoration: line-through;
  font-size: 0.8rem;
  font-weight: 500;
}

.product__cta {
  background-color: var(--DarkCyan);
  color: var(--White);
  width: 100%;
  padding: 0.6em 0;
  border-radius: 10px;
  border: none;
  margin: 0.8rem 0;
  font-weight: 700;
  font-size: 1rem;
}

.cta__icon {
  width: 1.3em;
  margin-right: 0.5rem;
}

.cta__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout */
/* Mobile and vertical */
@media (max-width: 480px) or ((min-width: 769px)and (max-width:834px)) {
  .card {
    width: 90%;
    flex-direction: column;
    margin: 1rem auto;
  }
}

/* Desktop and horizontal */
@media (min-width: 835px) or ((min-width: 481px) and (max-width: 768px)) {
  .card {
    min-width: 600px;
    width: 40%;
    flex-direction: row;
    margin: 15vh auto;
  }
  .card__image,
  .card__product {
    width: 50%;
  }
}
